.header-image {
	max-height: 80vh;
	overflow: hidden;
	img {
		display: block;
		width: 100vw;
	}
}
.site-header {
	position: fixed;
    top: 0;
	font-family: $font__dekko;
	color: #fff;
	width: 100%;
	@include smooth;

	.home &{
  		&:not(.on){
      		background-color: transparent;
  		}
	}
}

.site-branding {
	display: flex;
	min-height: 65px;
	padding: 1em;
	background-color: white;
	@include smooth;

	.home &{
  		&:not(.on){
      		background-color: transparent;
  		}
	}
}

.custom-logo-link {
	margin-right: 1em;
	img {
		display: block;
		height: 65px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-weight: 900;
	line-height: 1em;
	font-size: 1.2em;

	a {
		@include smooth;
		color: $dark;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		.home &{
  			&:not(.on){
      			color: transparent;
  			}
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
	color: $dark;
	@include smooth;

	.home &{
  		&:not(.on){
      		color: transparent;
  		}
	}
}

@media screen and (min-width: $query__logo-break) {
	.site-title {
		font-size: 1.6em;
	}
}

@media screen and (min-width: $query__small) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 35%;
		flex: 0 1 auto;
	}

	.site-navigation {
		width: 55%;
	}
}

/*
Header Menu
*/
@import "header-menu";